* {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    background-color: var(--bg-color);
    color: var(--text-color);
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin: 0 4% 0 4%;
}

.navbar {
    background-color: var(--footer-background-color);
}

.nav-specific {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0% 1% 0% 1%;
}

.navbar ul {
    z-index: 1000;
    color: #103e1f;
    list-style-type: none;
}

.navbar ul li {
    float: left;
    margin: 10px;
}

.navbar ul li a:hover {
    color: blue;
}

.navbar ul li a:visited {
    color: inherit;
}

h1 {
    text-align: center;
}

.header-container {
    display: flex;
    flex-direction: column;
}

#header-img {
    width: 4%;
}

.header-content {
    margin: 1% 4% 0 4%;
    text-align: center;
}

hr {
    border-top: 1.5px dashed var(--accent-color-green-light);
    margin: 1% 10% 0 10%;
}

.header-content h1,
.header-content h2 {
    margin: 0;
    line-height: 1.6;
}

.header-content h1 {
    font-weight: bold;
}

header img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.about-web h3 {
    margin-left: 2%;
}

.the-books {
    margin: 0%;
    line-height: normal;
}

.each-book {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4%;
    margin: 0% 0% 0% 2%;
}

.book {
    text-align: center;
    flex: 1 1 180px;
    max-width: 300px;
    margin-bottom: 1.5%;
}

.book h3,
.book h4 {
    margin: 0.3rem 0 0.8rem 0;
    line-height: 1.2;
}

.book-img {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 3%;
}

footer {
    height: 55px;
    text-align: center;
    background-color: var(--footer-background-color);
}

footer img {
    padding-top: 0.9%;
    width: 4.5%;
    display: inline-block;
}

:root {
    /* Light Mode */
    --bg-color: #f2ebdc;
    --text-color: #05220e;
    --footer-background-color: #ded4bd;

    /* Dark Mode */
    --bg-color-dark-mode: #103e1f;
    --text-color-dark-mode: #fff;

    /* Accent Colors */
    --accent-color-light: #d2cff5;
    --accent-color-medium: #684fb5;
    --accent-color-dark: #482f95;
    --accent-color-darkest: #231942;
    --accent-color-green-light: #0c5825;

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}